torch
jieba # for chinese word tokenization
onnxruntime-gpu # includes both GPU backends and the CPU one. Deps on protobuf, numpy, ...
onnx # required for exporting only
soundfile 
pydub
pypinyin # For chinese character conversin
f5-tts
silma-tts  # https://github.com/SILMA-AI/silma-tts
